
$small-spacing: 1rem;

.color--accent {
  color: orange;
}

.display-flex {
  display: flex;
  &.justify-space-between {
    justify-content: space-between;
  }
}

.padding-bottom {
  padding-bottom: $small-spacing;
}

.type-large {
  font-size: 1.2rem;
}
