
$small-spacing: 1rem;

.padding-bottom {
  padding-bottom: $small-spacing;
}

.journal {
  text-indent: 1rem;
  max-width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}

.journal-intro {
  max-width: 90%;
  margin: auto;
}

.correspondance-left {
  margin-right: auto;
  max-width: 45%;
  color: goldenrod;
}
.correspondance-right {
  margin-left: auto;
  max-width: 45%;
  text-align: right;
  color: blueviolet;
}